@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Tilt+Neon&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Tilt Neon", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.dark {
  color-scheme: dark;
}

@layer base {
  body {
    @apply text-zinc-900 dark:text-zinc-100 bg-gray-50 dark:bg-zinc-900;
  }
}